<section class="section__name">
    <div class="header-section__name">
        <div class="sheet-header__indent--left">
            <h2 class="header__no-border header-name__no-border">
                <input type="text" name="name" value="{{actor.name}}" placeholder="Name / Race">
            </h2>
        </div>
    </div>
</section>