<section class="section__button">
    {{log this}}
    {{#if (eq actor.type "character" )}}
    {{log "inside" this}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-namegiver.hbs"}}
    {{/if}}
    {{#if (eq actor.type "npc" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-namegiver.hbs"}}
    {{/if}}
    {{#if (eq actor.type "creature" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-sentient.hbs"}}
    {{/if}}
    {{#if (eq actor.type "dragon" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-sentient.hbs"}}
    {{/if}} 
    {{#if (eq actor.type "spirit" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-sentient.hbs"}}
    {{/if}}
    {{#if (eq actor.type "horror" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-sentient.hbs"}}
    {{/if}}
    {{#if (eq actor.type "loot" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-loot.hbs"}}
    {{/if}}
    {{#if (eq actor.type "group" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-group.hbs"}}
    {{/if}}
    {{#if (eq actor.type "trap" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-trap.hbs"}}
    {{/if}}
    {{#if (eq actor.type "vehicle" )}}
        {{> "systems/ed4e/templates/actor/actor-partials/actor-section-buttons-vehicle.hbs"}}
    {{/if}}
</section>
