<section class="tab {{tab.cssClass}}" data-group="sheet" data-tab="configuration-tab">
<div>
    {{formField systemFields.isMob name="system.isMob" value=actor.system.isMob localize=true}}
</div>
</section>