<section class="tab {{tabs.configuration.cssClass}}" data-group="sheet" data-tab="configuration">
<div>
    {{formField systemFields.isMob name="system.isMob" value=actor.system.isMob localize=true}}
</div>
</section>