<section class="tab {{tab.cssClass}}" data-group="sheet" data-tab="configuration-tab">
<div>
    {{formField systemFields.mobRules name="system.mobRules" value=actor.system.mobRules localize=true}}
</div>
</section>