<section class="tab {{tabs.connections.cssClass}}" data-group="sheet" data-tab="connections" data-editable="{{@root.editable}}">
<h2>Threads (temp)</h2>
  <div class="container__block">
      <div class="thread-card__grid--container container__header text-break__auto" data-item-id="{{_id}}">
        <div class="thread-card__grid--item"></div>
        <div class="thread-card__grid--item">Name</div>
        <div class="thread-card__grid--item">Level</div>
        <div class="thread-card__grid--item">Type</div>
        <div class="thread-card__grid--item">Connected Item</div>
        <div class="thread-card__grid--item"></div>
      </div>
      <div class="threads flexcol">
        {{#each actor.itemTypes.thread}}
          {{> "systems/ed4e/templates/actor/cards/thread-card.hbs" this}}
        {{/each}}
      </div>
  </div>
</section>