<div class="editor prosemirror">
    {{log "system.description.value" system.description.value}}
    {{!-- {{editor enrichment.system.description.value target="system.description.value" button=true owner=owner
    editable=editable engine="prosemirror"}} --}}
    {{!-- {{editor enrichedDescription target="system.description" editable=editable button=true engine="prosemirror" collaborate=false}} --}}
   {{formInput 
    systemFields.description.fields.value 
    enriched=enrichedDescription 
    value=system.description.value 
    name="system.description.value" 
    toggled=true}}
</div>