<div class="editor prosemirror">
   {{formInput 
    systemFields.summary.fields.value 
    enriched=enrichedBriefDescription 
    value=system.summary.value 
    name="system.summary.value" 
    toggled=true}}
</div>