<div class="editor prosemirror">
   {{formInput 
    systemFields.description.fields.value 
    enriched=enrichedDescription 
    value=system.description.value 
    name="system.description.value" 
    toggled=true}}
</div>