<div class="editor prosemirror item-summary">
    {{formInput
      systemFields.summary.fields.value
      enriched=enrichedBriefDescription
      value=system.summary.value
      name="system.summary.value"
      toggled=@root.editable
    }}
</div>
