<div class="editor prosemirror">
   {{formInput 
    systemFields.briefDescription.fields.value 
    enriched=enrichedBriefDescription 
    value=system.briefDescription.value 
    name="system.briefDescription.value" 
    toggled=true}}
</div>