<div>

  <fieldset>
    <legend>{{localize "ED.Dialogs.newConnections"}}</legend>
    {{log this}}
    {{formGroup connectionUuid name="connectionUuid" value=connectionUuid localize=true}}
  </fieldset>

</div>