<section class="tab chronological {{tabs.chronological.cssClass}} scrollable" data-group="primary" data-tab="chronological">

  <div class="lp-history__chronological">

    {{{chronologicalHtmlTable}}}

  </div>

</section>
