form.ed4e.character-generation {
  color: var(--color-text-body);
  background: var(--background-sheet-actor);
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .layout__row {
    gap: 25px;
  }

  .label--rail {
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  // Global Formatting

  .content-link {
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
  }

  // Namegiver

  section[data-tab="namegiver"] {
    justify-content: space-between;
    width: 60%;

    .container__block {
      padding: 10px;

      p {
        margin: 0;
      }

      input[type=text] {
        text-align: center;
      }
    }

    .namegiver-selection__link {
      padding-top: 10px;
      text-align: center;
    }
  }

  // Classes

  section[data-tab="classes"] {
    width: 60%;

    .container__block {
      padding: 10px;
    }

    .discipline-selection__link {
      text-align: center;
    }

    .discipline-questor-switch-group {
      .WarhorseDeco();
      font-weight: bold;
      text-align: center;
      padding: 10px 5px 8px;

      span {
        align-items: center;
        cursor: pointer;
      }
    }

    .abilities-explainer {
      padding-top: 12px;
    }

    .rank-assignment {
      padding-top: 10px;
    }

    .availability-meter {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-auto-rows: auto;
      gap: 10px;
      text-align: center;
    }

    .availability-meter__info {
      display: flex;
      flex-direction: column;
      align-items: center;

      meter {
        width: 100%;
      }
    }
    
    .availability-meter .reset-points {
      justify-self: end;
    }

    .talent-listing,
    .namegiver-abilities {
      .content-link {
        text-transform: capitalize;
        font-weight: normal;
      }
    }

    .optional-talents-pool .assign-value-entries {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 4px;
    }

    .entry-listing-header {
      padding-top: 10px;
    }

    .class-talents-pool,
    .namegiver-abilities {
      .assign-value-entries {
        display: flex;
        flex-direction: column;
      }

      .assign-value-entry {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 12px 4px;
      }

      .rank-change {
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
      }
    }

    .item-section__header--namegiver-abilities {
      padding-top: 5px;
    }
  }

  // Attributes

  section[data-tab="attributes"] {
    width: 40%;

    .container__block {
      padding: 10px;

      p {
        margin: 0;
      }
    }

    .label--rail {
      margin-top: 10px;
    }

    .rank-assignment {
      .availability-meter {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
        align-items: center;
        padding: 10px 40px 10px;
      }

      .availability-meter__info {
        display: flex;
        flex-direction: column;
        
        label {
          text-align: center;
        }
      }

      .availability-meter__info meter {
        display: block;
        width: 80%;
        align-self: center;
        box-sizing: border-box;
      }
    }

    .char-gen-attributes {

      .attributes-grid {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        row-gap: 4px;
      }

      .attributes-grid__header,
      .attributes-grid__cell {
        font-size: var(--font-size-14);
        height: 22px;
        padding: 2px 8px;
        text-align: center;
      }

      .rank-change.attribute-change {
        display: inline-flex;
        text-align: center;
        gap: 0.25rem;
      }

      .attribute-change-value {
        min-width: 1.5rem;
        text-align: center;
      }

      .attributes-grid__cell--cost {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }

    .health-and-characteristics {
      .container__header {
        display: flex;
        text-align: center;
        margin-top: 5px;
        font-size: var(--font-size-13);

      }
      .entry-name {
        text-align: left;
      }

      .value-entry {
        display: flex;
        text-align: center;
      }
    }
  }

  // Languages

  section[data-tab="languages"] {
    width: 30%;

    p {
      margin: 0;
      padding: 5px;
    }

    .tags {
      justify-content: flex-start;
    }
  }

  .form-footer {
    gap: 20px;

    button {
      .button-bar();
      width: 150px;
      height: 40px;
      text-transform: uppercase;
      font-size: var(--font-size-16)
    }
  }

  nav {   

    a {
      .WarhorseDeco();
      padding: 1em;
      font-weight: bold;

      &.active {
        font-size: x-large;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }
    }
  }

  footer.form-footer {
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: 20px
  } 
}