form.ed4e.character-generation {
  color: var(--color-text-body);
  background: var(--background-sheet-actor);
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .layout__row {
    gap: 25px;
  }

  .label--rail {
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  // Global Formatting

  .content-link {
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
  }

  // Namegiver

  section[data-tab="namegiver"] {
    justify-content: space-between;
    width: 60%;
    .container__block {
      padding: 10px;
      p {
        margin: 0;
      }
      input[type=text] {
        text-align: center;
      }
    }
    .namegiver-selection__link {
      padding-top: 10px;
      text-align: center;
    }
  }

  // Classes

  section[data-tab="classes"] {
    .discipline-selection__link {
      text-align: center;
    }

    .discipline-questor-switch-group {
      .WarhorseDeco();
      font-weight: bold;
      text-align: center;
      padding: 10px 5px 8px;

      span {
        align-items: center;
        cursor: pointer;
      }
    }

    .abilities-explainer {
      padding-top: 12px;
    }

    .rank-assignment {
      padding-top: 10px;
    }

  }

  // Languages

  section[data-tab="languages"] {
    width: 30%;

    .container__section {
      margin: 4px 0;
    }

    .tags {
      justify-content: flex-start;
    }
  }


  .form-footer {
    gap: 20px;

    button {
      .button-bar();
      width: 150px;
      height: 40px;
      text-transform: uppercase;
      font-size: var(--font-size-16)
    }
  }

  nav {   

    a {
      .WarhorseDeco();
      padding: 1em;
      font-weight: bold;

      &.active {
        font-size: x-large;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }
    }
  }

  footer.form-footer {
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: 20px
  } 
}