form.application.ed4e.legend-point__history {
  .window-content {
    .lp-history__earned {
      .add-earning-icon {
        cursor: pointer;
      }
    }

    .lp-history__spend {
      .lp-history__spend-sort {
        width: 40%;
        align-self: center;
      }
      table {
        table-layout: fixed;
        width: 100%;
      }
    }

    .lp-history__chronological {
      tbody {
        tr {
          i.revert-transaction {
            visibility: hidden;
          }
          &:hover {
            i.revert-transaction {
              visibility: visible;
              cursor: pointer;
            }
          }
        }
      }
    }

  }
}