<div>

  <div>
    {{localize "ED.Dialogs.SelectExtraThreads.selectedXofYthreads" numSelected=numSelected maxExtraThreads=maxExtraThreads}}
  </div>

  <fieldset class="extra-threads">
    <legend>{{localize "ED.Dialogs.Header.fieldsetExtraThreads"}}</legend>
    {{#each optionFields}}
      {{formInput
        this
        name=this.name
        value=(lookup (lookup @root.data "extraThreads") @index)
      }}
    {{/each}}
  </fieldset>

</div>