<div class="disciplines">
    {{formGroup rollOptions.schema.fields.discipline name="discipline" value=discipline choices=rollOptions.disciplineOptions}}
</div>
<div class="attributes">
    attributes
</div>