<section>
    <h3>{{localize "ED.Update.welcome" version="V1.0.0"}}</h3>
    <div>{{localize "ED.Update.newsHeader"}}</div>
    {{!-- This is a system message for the update to version 1.0.0 please adapt the text in all lang files --}}
    <div>{{{localize "ED.Update.news1_0_0"}}}</div>
</section>
<section>
    <div>{{{localize "ED.Update.contact"}}}</div>
</section>


{{!-- This is German Update Message --}}
{{!-- 
<h3>Willkommen in bei der neuesten Version vom Earthdawn System für Foundry Virtual Tabletop</h3>
<p>Dies ist die erste Version (Beta) des überarbeiteten Earthdawn Systems.</p>
<p>Das System wurde von Grund auf neu überarbeitet und viele Abläufe haben sich geändert.</p>
<p>Alle Einzelheiten hier aufzuführen wäre zu viel, bitte lest euch die Release Notes <a href="https://github.com/patrickmohrmann/earthdawn4eV2/wiki/Change-Log" target="_blank">Release Notes</a></p> 
--}}