<section>
    <h3>{{localize "ED.Update.welcome" version="0.1.0"}}</h3>
    <div>{{localize "ED.Update.newsHeader"}}</div>
    {{!-- This is a system message for the update to version 1.0.0 please adapt the text in all lang files --}}
    <div>{{{localize "ED.Update.news1_0_0"}}}</div>
</section>
<section>
    <div>{{{localize "ED.Update.contact"}}}</div>
</section>
