<section>
  {{#each enhancements}}
    <fieldset>
      <legend>{{lookup (lookup ../config.spellEnhancements this.type) "label"}}</legend>
      {{> "systems/ed4e/templates/form/group/general.hbs"
        dataField=this.schema
        inputTemplate=(lookup (lookup ../config.spellEnhancements this.type) "inputTemplate")
        data=this
        fields=this.schema.fields
        fieldPath=(concat "system." @root.keyPath "." @index)
        config=config
      }}
    </fieldset>
  {{/each}}
</section>