<div class="chat-flavor-header">{{{CONFIG.ED4E.ROLLS.rollTypes.attribute.label}}}</div>


<div class="custom-flavor">{{ customFlavor }}</div>

{{> "systems/ed4e/templates/chat/dice-partials/roll-summary.hbs" }}