<div class="chat-flavor-header">{{{CONFIG.ED4E.ROLLS.rollTypes.knockdown.label}}}</div>

<div class="knock-down-visualization">

{{#if knockdownAbilityContentAnchor}}
  <div class="chat-sub-header-tags flexcol">{{{knockdownAbilityContentAnchor}}}</div>
{{/if}}

</div>

{{> "systems/ed4e/templates/chat/dice-partials/roll-summary.hbs" }}