<form class="actor creature-sheet flexcol" autocomplete="off">
    <header class="header__frame">
        <title>{{actor.name}}</title>
    </header>
    <div  class="body border">
        <h3 id="Name" class="char-name"><input name="name" type="text"
                value="{{actor.name}}" placeholder="Name" /></h3>
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" />
        {{!-- CREATE A SYSTEM SETTING TO DIVIDE POWERS; MANEUVER AND ATTACKS INTO DIFFERENT TABS --}}
         <div>
            
         </div>
 </div>
</form>