.application.sheet.earthdawn4e.item {
    
    .window-content {
        img {
            width: 158px;
            border: none;
        }
        .item-name {
            .sheet-header__indent--left {
                width: 45%;
                float: left;
            }
            .sheet-header__indent--right {
                width: 45%;
                float: right;
            }
        }
        .top {
            .sheet__editor {
                min-height: 160px;
            }
        }
    
        .tab.general,
        .tab.details,
        .tab.effects,
        .tab.advancements {
            overflow-y: auto; 
            
            .item__left--main {
                
                float: left;
                div.form-group {  
                    
                    .hint {
                        display: none;
                    }
                }
            }
        
            .item__right--main {


                
                float: right;
                .editor,
                .prosemirror {
                    height: 430px;
                }
            }
        }
    }
}

.item-image {
    width: 64px;
    height: 64px;
}