.application.sheet.earthdawn4e.item {
    .window-content {
        img {
            width: 158px;
            border: none;
        }
        .item-name {
            .sheet-header__indent--left {
                width: 45%;
                float: left;
            }
            .sheet-header__indent--right {
                width: 45%;
                float: right;
            }
        }
        .top {
            .sheet__editor {
                min-height: 160px;
            }
        }
    }
    .tab.general,
    .tab.details,
    .tab.effects,
    .tab.advancements {
        overflow-y: auto; 
        
        .item__left--main {
            width: 38%;
            float: left;
            div.form-group {  
                label {
                    flex-basis: 50%;
                }
                .hint {
                    display: none;
                }
            }
        }
    
        .item__right--main {
            width: 60%;
            float: right;
            .editor,
            .prosemirror {
                height: 430px;
            }
        }
    }
}