<div>
  <p>{{hint1}}</p>
  <p>{{hint2}}</p>
  <div class="form-group">
    <label for="data">{{ localize 'DOCUMENT.ImportSource' }}</label>
    <div class="form-fields">
      <input type="file" name="data" accept=".json" multiple="">
    </div>
  </div>
</div>
