<div>
      <h3>{{localize "ED.Actor.Header.favorites"}}</h3>
      <div>
        {{formField systemFields.actions name="system.actions" type="number" value=actor.system.actions localize=true}}
      </div>
    </div>
    <br>
    <br>
    <div>
      <h3 class="undefined">{{localize "ED.Actor.Header.favorites"}}</h3>
      <div class="undefined">
        there shall be favorites
      </div>
    </div>