<button type="button" class="apply-effect" title="{{ localize "ED.Chat.Button.applyEffectTitle" }}"
    data-action="applyEffect" data-item-for-effect-uuid="{{ itemForEffects.uuid }}">
    {{ localize "ED.Chat.Button.applyEffect" }}
</button>