<form class="flexcol" autocomplete="off">
       <header class="header__frame">
              <title>{{actor.name}}</title>
       </header>
       <div class="body">
            
       </div>
       <footer class="footer__frame">
       </footer>
</form>