<div>
    {{!-- Tartsche - usable with a bow --}}
    {{formField systemFields.bowUsage name="system.bowUsage" value=item.system.bowUsage localize=true}}
        {{!-- usable Item ?--}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/usable-items.hbs"}}
    {{#if (eq item.system.usableItem.isUsableItem true)}}
        {{> "systems/ed4e/templates/item/item-partials/item-details/partials/targeting.hbs"}}
    {{/if}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/details/item-details-physicalItems.hbs"}}
</div>