<div id="base-details-questor-item" class="item-details__questor" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    <fieldset>
        <legend></legend>   
            {{formGroup systemFields.questorDevotion name="system.questorDevotion" value=system.questorDevotion localize=true}}
    </fieldset>
    
</div>