<div id="base-details-devotion-item" class="item-details__cursemark" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">
    {{> "systems/ed4e/templates/item/item-partials/item-details/details/item-details-abilities.hbs"}}
</div>
