<div id="base-details-path-item" class="item-details__path" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">
    {{!-- bloodMagicDamage --}}
    <fieldset>
        <legend></legend>
            {{formField systemFields.bloodMagicDamage name="system.bloodMagicDamage" value=item.system.bloodMagicDamage localize=true}}
    </fieldset>
    
    <fieldset>
        <legend></legend>    
            {{formGroup systemFields.pathKnack name="system.pathKnack" value=system.pathKnack localize=true}}
            {{formGroup systemFields.pathTalent name="system.pathTalent" value=system.pathTalent localize=true}}
    </fieldset>

</div>