<div id="base-details-questor-item" class="item-details__questor" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    <fieldset>
        <legend></legend>   
            {{formGroup systemFields.questorDevotionId name="system.questorDevotionId" value=system.questorDevotionId parentDocument=item.parent}}
    </fieldset>
    
</div>