<div id="base-details-path-item" class="item-details__path" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">
    {{!-- bloodMagicDamage --}}
    <fieldset>
        <legend></legend>
            {{formField systemFields.bloodMagicDamage name="system.bloodMagicDamage" value=item.system.bloodMagicDamage localize=true}}
    </fieldset>
    
    <fieldset>
        <legend></legend>    
            {{formGroup systemFields.pathKnackId name="system.pathKnackId" value=item.system.pathKnackId parentDocument=item.parent}}
            {{formGroup systemFields.pathTalentId name="system.pathTalentId" value=item.system.pathTalentId parentDocument=item.parent}}
    </fieldset>

</div>