<div>
    {{!-- usable Item ?--}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/usable-items.hbs"}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/targeting.hbs"}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/details/item-details-physicalItems.hbs"}}
</div>