<div>

  {{!-- Spell Illusion --}}
  {{#if item.system.isIllusion}}
    <div class="form-group label-top">
      <label>
        {{localize "ED4E.Data.Item.Fields.sensingDifficulty"}}
      </label>
      <input type="number" value="{{item.system.sensingDifficulty}}" readonly>
    </div>
  {{/if}}

  {{!-- Dispel Difficulty --}}
  <div class="form-group label-top">
    <label>
      {{localize "ED4E.Data.Item.Fields.dispelDifficulty"}}
    </label>
    <input type="number" value="{{item.system.dispelDifficulty}}" readonly>
  </div>



  {{> "systems/ed4e/templates/item/item-partials/item-details/partials/targeting.hbs"}}
</div>