<div id="base-details-path-item" class="item-details__path" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">
    {{!-- bloodMagicDamage --}}
    <fieldset>
        <legend></legend>
            {{formField systemFields.bloodMagicDamage name="system.bloodMagicDamage" value=item.system.bloodMagicDamage localize=true}}
    </fieldset>
    
    <fieldset>
        <legend></legend>    
            {{formGroup systemFields.pathKnackId name="system.pathKnackId" value=system.pathKnackId localize=true}}
            {{formGroup systemFields.pathTalentId name="system.pathTalentId" value=system.pathTalenId localize=true}}
    </fieldset>

</div>