<div id="base-details-knackManeuver-item" class="item-details__knackManeuver" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">
    
    {{!-- LP Cost if this is not calculated by min Level --}}
    <fieldset>
        <legend></legend>
            {{formField systemFields.lpCost name="system.lpCost" value=item.system.lpCost localize=true}}
    </fieldset>
        
</div>
