<div id="detail-information-discipline-item">
    {{!-- Discipline Index itentifier for multiple disciplines --}}
    {{formField systemFields.order name="system.order" value=item.system.order localize=true}}
    {{!-- is this discipline a spellcasting discipline? --}}
    {{formField systemFields.spellcasting name="system.spellcasting" value=item.system.spellcasting localize=true}}
</div>
