/* Journal Sheet Headerless */

.journal-sheet,
.journal-entry-page {
    .window-header {
        font-size: 0;
        background: transparent;
        border-right: 0;
    }
    .journal-entry-pages { padding: 0; }
}

.journal-entry-page .journal-header { margin: 0 1rem; }
