/* Journal Sheet Background */
.sheet.journal-entry .journal-entry-content,
.sheet.journal-entry .journal-entry-page {
    background-image: url("assets/sheet/parchment.webp");
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
}
