/* Journal Sheet Headerless */


.journal-sheet,
.journal-entry-page {
    .window-header {
        font-size: 0;
        background: transparent;
        border-right: 0;
    }
    .journal-entry-pages {
        padding: 0 5px 0 0;
        margin-right: 3px; 
    }
}

.application .window-content { backdrop-filter: none; }

.journal-entry-page .journal-header { margin: 0 1rem; }

