<div>
    <div class="partial__two">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-action="editImage" data-edit="img" />
    </div>


    <div class="sheet__editor partial__two item__right--main">
        {{!-- Description --}}
        <h3>{{localize "ED.Item.Header.summary"}}</h3>
        {{> "systems/ed4e/templates/global/editor-brief.hbs"}}
    </div>
</div>
