<section class="tab {{tab.cssClass}} scrollable" data-group="primary" data-tab="equipment-tab">
  <h4>{{localize "ED.Dialogs.CharGen.Title.equipment"}}</h4>
  <div>
   <p>{{{chooseEquipmentRules}}}</p>
  </div>
</div>
