<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="namegiver-tab">
  <div>
    <p>{{{charGenRules}}}</p>
  </div>
  <label for="char-gen-namegiver-select">
    {{localize "ED.Dialogs.CharGen.chooseNamegiver"}}
    <select id="char-gen-namegiver-select" name="namegiver">
      <option value="">&ndash;&ndash;&ndash;</option>
      {{selectOptions namegivers selected=object.namegiver valueAttr="uuid" labelAttr="name"}}
    </select>
  </label>

</section>