<div id="base-description-bindingSecret-item" class="item-description__bindingSecret" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    todo
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>